<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new message</title>
  </head>
  <body>
    <h1>Add new message</h1>

    <form action="/new" method="post">
      <label
        >Author Name:
        <input
          type="text"
          name="authorName"
          required
          value="<%= locals.authorName %>"
        />
      </label>
      <label
        >Message:
        <input
          type="text"
          name="messageText"
          required
          value="<%= locals.messageText %>"
        />
      </label>
      <button type="submit">Post message</button>
    </form>
  </body>
</html>
