.headerDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
  background-color: black;
  color: white;
  height: 40px;
  border-radius: 4px;
  padding-left: 14px;
}

a:link,
a:visited {
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  color: rgb(230, 216, 21);
}
